<div class="vish-list">
  <div class="vish-list__header">
    <span class="vish-list__title">Wishlist</span>
  </div>
  <div class="vish-list__item-list">
    <div class="vish-list__item">
      <img src="new_product-11.jpg" alt="Description of product" class="vish-list__item-image" width="50" height="50">
      <div class="vish-list__item-description">
        <a href="#" class="vish-list__item-name">Pure cosmetic</a>
        <span class="vish-list__item-delete-btn">x</span>
      </div>
    </div>              
  </div>
  <div class="vish-list__footer">              
    <a href="#" class="vish-list__vish-list-button vish-list__btn">Viev wishlist</a>
  </div>
</div>

<style>
  /* Not necessary style (test-fonts) */

  @import url('https://fonts.googleapis.com/css?family=Quicksand');

  .vish-list {
    font-family: 'Quicksand', sans-serif;
  }
  

  /* Main styles */
  .shoping-cart,
  .vish-list {      
    position: absolute;
    top: 0;
    width: 400px;
    margin-left: auto;
    padding: 0 2em 1em;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    transition: .3s ease;
    z-index: 3;
  } 

  .vish-list a {
    text-decoration: none;
  }

  .vish-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.7em;
    text-transform: uppercase;
  }

  .shopping-cart__title,    
  .vish-list__title {
    font-size: 1.1rem;
    font-weight: 900;
  }

  .shopping-cart__item-list,
  .vish-list__item-list {
    padding: 10px 0;
    border-top: none;
    border-bottom: 1px solid #eaeaea;
    max-height: 40vh;
    overflow-y: auto;
  }

  .shopping-cart__item-list::-webkit-scrollbar,
  .vish-list__item-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
  }

  .shopping-cart__item-list::-webkit-scrollbar-track,
  .vish-list__item-list::-webkit-scrollbar-track {
    background-color: #e1e1e1;
    border-radius: 50px;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }
  
  .shopping-cart__item-list::-webkit-scrollbar-thumb,
  .vish-list__item-list::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

  .shopping-cart__item,    
  .vish-list__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5em 3em 1.5em 1.5em;
  }

  .shopping-cart__item-image,
  .vish-list__item-image {
    float: left;
    margin: 0 0.5em;
  }

  .shopping-cart__item-description,
  .vish-list__item-description {
    text-align: left;
    margin-left: 1em;
    font-size: 1rem;
  }

  .shopping-cart__item-name,
  .vish-list__item-name {
    display: block;
    margin-bottom: 0.5rem;
    color: inherit;
  }

  .shopping-cart__item-delete-btn,
  .vish-list__item-delete-btn {
    position: absolute;
    top: 20%;
    right: 5%;
    cursor: pointer;
  }

  .shopping-cart__footer,    
  .vish-list__footer {
    padding: 5px 10px;
    text-align: center;      
  }

  .shopping-cart__checkout-button,
  .vish-list__vish-list-button {
    color: #ffffff;
    background-color: #43a047;
  }

  .vish-list__btn {
    display: block;
    margin: 5px 0;
    padding: 0.6rem;
    font-weight: 400;
    font-size: 0.8rem;
    transition: .2s ease;
    cursor: pointer;
    text-transform: uppercase;
  }

  /* Hover effects */
  .shopping-cart__item-name:hover,
  .vish-list__item-name:hover,
  .shopping-cart__item-name:focus,
  .vish-list__item-name:focus {
    text-decoration: underline;
  }

  .shopping-cart__checkout-button:hover,
  .vish-list__vish-list-button:hover,
  .shopping-cart__checkout-button:focus,
  .vish-list__vish-list-button:focus {
    background-color: #000000;
  }

  .shopping-cart__btn:hover,
  .shopping-cart__btn:focus,
  .vish-list__btn:hover,
  .vish-list__btn:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .header__middle .user-links__icon:focus, 
  .header__middle .vish-list__btn:focus,
  .header__middle .shopping-cart__btn:focus {
    text-decoration: none;
  }  
</style>